[submodule "libsidh"]
	path = src/sidh
	url = https://github.com/yedino/libsidh.git
	branch = master
[submodule "googletest"]
	path = src/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "jsoncpp"]
	path = src/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	branch = master
[submodule "ntru-crypto"]
	path = src/ntru-crypto
	url = https://github.com/yedino/ntru-crypto.git
	branch = master
[submodule "sodiumpp"]
	path = src/sodiumpp
	url = https://github.com/yedino/sodiumpp.git
	branch = tigusoft
