[submodule "libsidh"]
	path = depends/sidh
	url = https://github.com/yedino/libsidh.git
	branch = master
[submodule "googletest"]
	path = depends/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "jsoncpp"]
	path = depends/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	branch = master
[submodule "ntru-crypto"]
	path = depends/ntru-crypto
	url = https://github.com/yedino/ntru-crypto.git
	branch = master
[submodule "sodiumpp"]
	path = depends/sodiumpp
	url = https://github.com/mikurys/sodiumpp.git
	branch = tigusoft
[submodule "depends/json"]
	path = depends/json
	url = https://github.com/nlohmann/json
	branch = develop
