# Cmake files
*.cmake
*Makefile*
*CMakeFiles*
*CMakeCache*

# DOC by doxygen
html
latex

#QT IDE
*.pro

# CLion IDE
*.idea*


# Executables
*.exe
*.out
*.app
*.elf

# Other
*.cbp


# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.orig
*.user
*build
*~

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
