# temporary var files, including created by running-in-place program
# (untill we write proper support for some ~/.galaxy42/var/
vartmp/

# directories copied from source
# (the source is e.g. git submodule but in other location)

# also other libs

build_extra/

# fftw wisdom files
data/

# build
*.elf
*.a

# build / submodules
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
googletest/
jsoncpp/
sodiumpp/

# KDevelop Ignore
.kdev4/
compile_commands.json
*.kdev4

# QT-Creator Ignore
CMakeLists.txt.user

