[submodule "antinet/src/antinet_sim/test/googletest"]
	path = antinet/src/antinet_sim/test/googletest
    url = https://github.com/google/googletest.git
[submodule "doc_and_drafts/bit_payments/bitcoin-api-cpp"]
	path = doc_and_drafts/bit_payments/bitcoin-api-cpp
	url = https://github.com/minium/bitcoin-api-cpp.git
[submodule "doc_and_drafts/coin_signing/ptest"]
	path = doc_and_drafts/coin_signing/ptest
	url = https://github.com/pingwindyktator/ptest.git
[submodule "doc_and_drafts/coin_signing/serialization"]
	path = doc_and_drafts/coin_signing/serialization
	url = https://github.com/boostorg/serialization
[submodule "googletest"]
	path = googletest
	url =  https://github.com/google/googletest
[submodule "sodiumpp"]
	path = sodiumpp
	url = https://github.com/tigusoft-vm/sodiumpp
[submodule "ntru-crypto"]
	path = ntru-crypto
	url = ../ntru-crypto
[submodule "libsidhms"]
	path = libsidhms
	url = https://github.com/tigusoft-vm/libsidhms.git
