*~

*.orig

*.user
*build

*.cmake
CMakeCache.txt
CMakeFiles

Makefile

#DOC by doxygen

html
latex

#QT IDE
*.pro

#CLion IDE
./.idea/
crypto_ops/ring_cryptography_test1/.idea/
drafts/coin_signing/.idea/

*.cbp
