# temporary var files, including created by running-in-place program
# (untill we write proper support for some ~/.galaxy42/var/
vartmp/

# directories copied from source
# (the source is e.g. git submodule but in other location)
sodiumpp/
googletest/
jsoncpp/
libsidhms/


# also other libs

build_extra/

# fftw wisdom files
data/
